<div id="<%= dom_id provider %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Provider name:</strong>
    <%= link_to provider, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
      <%= provider.provider_name %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dni:</strong>
    <%= provider.dni %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact name:</strong>
    <%= provider.contact_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact tel:</strong>
    <%= provider.contact_tel %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number bank account:</strong>
    <%= provider.number_bank_account %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank:</strong>
    <%= provider.bank.bank_name %>
  </p>

  <% if action_name != "show" %>
    <%= button_to 'Destroy this provider', provider_path(provider), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>    
    <%= link_to 'Edit this provider', edit_provider_path(provider), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
